@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    160 Princess Street<br />
    Winnipeg, MB R3B 1K9<br />
    <abbr title="Phone">P:</abbr>
    204.632.2327
</address>

<address>
    <strong>Student Services:</strong>   <a href="mailto:register@rrc.ca">register@rrc.ca</a><br />
    <strong>Continuing Education:</strong> <a href="mailto:cde@rrc.ca">cde@rrc.ca</a><br/>
    <strong>International:</strong> <a href="mailto:intled@rrc.ca">intled@rrc.ca</a>
</address>