@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The BIT College system provides 
the necessary data to allow for 
course registrations and GPA calculations. Note: a student's GPA impacts the tuition fees</p>
