@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BIT College</h1>
    <p class="lead">Online College Registration and GPA Reporting System</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Data Management</h2>
        <p>
            Through user-friendly views, data within the BIT College database can be easily updated
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pattern Based</h2>
        <p>The BIT College MVC Project is developed by utilizing the MVC, State and Singleton design patterns to help ensure that the data is always accurate and supports business rules</p>
    </div>
    <div class="col-md-4">
        <h2>Web Based</h2>
        <p>Through the controllers and views, the data is presented through a web browser</p>
    </div>
</div>